.iv-post-detail {
  padding: 32px;
  border-radius: 4px 4px 0px 0px;
  background-color: #f5f5f5;
}

.comments-container {
  padding: 0 24px 24px 78px;
}

.iv-comment-list {
  padding: 18px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.comment-content {
  padding: 1rem;
  background-color: #eaeaea;
}
